.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.picture{
  width: 100px;
}


/* Terminal Window */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:700);
* {
  padding: 0;
  margin: 0;
}

body {      
  background: #09a3d5;
}

.window {
  background: #ddd;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  position: relative;
 

}

.window-inner {

  background: #ddd;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  position: relative;
 

}

.title {
  -webkit-box-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0.3em;
}

.icons {
  padding: 0.7em;
  position: absolute;
}
.icons span {
  background: #f4c025;
}
.icons:before {
  content: "";
  background: #e4514f;
}
.icons:after {
  content: "";
  background: #3ec930;
}

.icons span, .icons:before, .icons:after {
  display: inline-block;
  float: left;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin-right: 0.3em;
}

pre {
  background: #222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #bbb;
  overflow: hidden;
  padding: 2.0em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
pre code {
  font: bold 1em/1.75 "Source Code Pro", monospace;
}
pre code:after {
  -webkit-animation: blink 0.9s infinite;
          animation: blink 0.9s infinite;
  font: initial;
  display: block;
  opacity: 1;
  content: "▏";
}

.token.punctuation {
  color: #999;
}

.token.boolean,
.token.number {
  color: #8130c9;
}

.token.keyword {
  color: #09a3d5;
}

.token.operator {
  color: #e4514f;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-bg{
  background: #222 !important
}