
@import "../../sass/styles";

// ############ List Post #####################

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 400px));
   grid-gap: 1em;
}

a:link {
   text-decoration: none !important;
}

.deckStyle {
   @include box-shadow($cardShadowInitial);
}

.deckStyle:hover {
   @include transition(0.4s);
   @include box-shadow($cardShadowHover);
}

// ######### Post ############

.postCover {
   background: $lightgrey;
   color: $light;
}

// ############# ViewPost ##############

.viewPost {
   overflow-wrap: break-word;
}

.postTitle {
   color: $primaryColor;
}

.footerStyle {
   color: $subtitleColor;
}


.window {
   background: $lightgrey;
   border-radius: 5px;
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
           flex-flow: row wrap;
   position: relative;
 }

 .title {
   -webkit-box-flex: 1;
           flex: 1;
   text-align: center;
   padding: 0.3em;
   margin-left: 1.5em;
   font-size: 0.8em;
   color: #222;
 }
 


 .icons {
   padding: 0.6em;
   position: absolute;
 }
 .icons span {
   background: #f4c025;
 }
 .icons:before {
   content: "";
   background: #e4514f;
 }
 .icons:after {
   content: "";
   background: #3ec930;
 }
 
 .icons span, .icons:before, .icons:after {
   display: inline-block;
   float: left;
   width: 0.5em;
   height: 0.5em;
   border-radius: 50%;
   margin-right: 0.3em;
 }
 