
@import "../../sass/styles";

// ############ List Post #####################

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 400px));
   grid-gap: 1em;
}

a:link {
   text-decoration: none !important;
}

.deckStyle {
   @include box-shadow($cardShadowInitial);
}

.deckStyle:hover {
   @include transition(0.4s);
   @include box-shadow($cardShadowHover);
}

// ######### Post ############

.postCover {
   background: $lightgrey;
   color: $light;
}

// ############# ViewPost ##############

.viewPost {
   overflow-wrap: break-word;
}

.postTitle {
   color: $primaryColor;
}

.footerStyle {
   color: $subtitleColor;
}


.window {
   background: $darkgrey;
   border-radius: 5px;
   display: -webkit-box;
   
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
           flex-flow: row wrap;
   position: relative;
  
  
 }

 .title {
   -webkit-box-flex: 1;
           flex: 1;
   margin-top: 4.5em;
   padding: 0.3em;
   margin-left: 1.2em;
   margin-right: 1.2em;
   font-size: 0.8em;
 }

 .icons {
   padding: 0.6em;
   position: absolute;
 }
 .icons span {
   background: #f4c025;
  
 }
 .icons:before {
   content: "";
   background: #e4514f;
 }
 .icons:after {
   content: "";
   background: #3ec930;
 }
 
 .icons span, .icons:before, .icons:after {
   display: inline-block;
   float: left;
   width: 0.5em;
   height: 0.5em;
   border-radius: 50%;
   margin-right: 0.3em;
 }
 
 .fakeButtons {
   height: 0.6em;
   width: 0.6em;
   border-radius: 50%;
   background-color: #ff3b47;
   border :none;
   display: inline-block;
   margin-left: 0.5em;
   margin-right: -0.2em;
 }
 
 .fakeMinimize {
   
   background-color: #ffc100;
   border :none;
 }
 
 .fakeZoom {
   border :none;
   background-color: #00d742;

 }
 
 .fakeMenu {
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   background-color: #ddd;
   margin: 0 auto;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
 }
 
 .fakeScreen {
   background-color: #151515;
   box-sizing: border-box;
   width: 100%;
   height: 250px;

   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
 }
 
 
 
 span {
   color: #fff;
   font-weight: bold;
 }
 
 .line1 {
   color: $blue;
   font-size: 1.6em;
   width: 1rem;
  
   margin-right: 10px;


   -webkit-animation: type .5s 1s steps(10, end) forwards;
   -moz-animation: type .5s 1s steps(10, end) forwards;
   -o-animation: type .5s 1s steps(10, end) forwards;
   animation: type .5s 1s steps(10, end) forwards;
 }
 
 .cursor1 {
  text-align: left;

   
   -webkit-animation: blink 1s 2s 2 forwards;
   -moz-animation: blink 1s 2s 2 forwards;
   -o-animation: blink 1s 2s 2 forwards;
   animation: blink 1s 2s 2 forwards;
 }
 
 .line2 {

  text-align: left;
   color: $green;
   -webkit-animation: type .5s 4.25s steps(20, end) forwards;
   -moz-animation: type .5s 4.25s steps(20, end) forwards;
   -o-animation: type .5s 4.25s steps(20, end) forwards;
   animation: type .5s 4.25s steps(20, end) forwards;
 }
 
 .cursor2 {
  text-align: left;


   -webkit-animation: blink 1s 5.25s 2 forwards;
   -moz-animation: blink 1s 5.25s 2 forwards;
   -o-animation: blink 1s 5.25s 2 forwards;
   animation: blink 1s 5.25s 2 forwards;
 }
 
 .line3 {
  text-align: left;


   color: $yellow;
   -webkit-animation: type .5s 7.5s steps(20, end) forwards;
   -moz-animation: type .5s 7.5s steps(20, end) forwards;
   -o-animation: type .5s 7.5s steps(20, end) forwards;
   animation: type .5s 7.5s steps(20, end) forwards;
 }
 
 .cursor3 {
  text-align: left;

   -webkit-animation: blink 1s 8.5s 2 forwards;
   -moz-animation: blink 1s 8.5s 2 forwards;
   -o-animation: blink 1s 8.5s 2 forwards;
   animation: blink 1s 8.5s 2 forwards;
 }
 
 .line4 {
   color: #fff;
   -webkit-animation: type .5s 10.75s steps(20, end) forwards;
   -moz-animation: type .5s 10.75s steps(20, end) forwards;
   -o-animation: type .5s 10.75s steps(20, end) forwards;
   animation: type .5s 10.75s steps(20, end) forwards;
 }
 
 .cursor4 {
   -webkit-animation: blink 1s 11.5s infinite;
   -moz-animation: blink 1s 8.5s infinite;
   -o-animation: blink 1s 8.5s infinite;
   animation: blink 1s 8.5s infinite;
 }
 
 @-webkit-keyframes blink {
   0% {
     opacity: 0;
   }
   40% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   90% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }
 
 @-moz-keyframes blink {
   0% {
     opacity: 0;
   }
   40% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   90% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }
 
 @-o-keyframes blink {
   0% {
     opacity: 0;
   }
   40% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   90% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }
 
 @keyframes blink {
   0% {
     opacity: 0;
   }
   40% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
   90% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }
 
 @-webkit-keyframes type {
   to {
     width: 17em;
   }
 }
 
 @-moz-keyframes type {
   to {
     width: 17em;
   }
 }
 
 @-o-keyframes type {
   to {
     width: 17em;
   }
 }
 
 @keyframes type {
   to {
     width: 17em;
   }
 }

 .date-text{
    font-size: 0.9rem;
    color: $orange;
 }

 .title-text{
   color: $raspberry;
   
 }

 .body-text{
    color: $lightgrey;
    font-size: 0.8em;
 }

 .edit-btn{
   color: white;
   background: none;
 }

 .edit-btn:hover{
  color: $blue;
  background: none;
}