@import "./variables";
@import "./mixins";

body {
   font-family: $font-stack;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-box-align: center;
   background: $raspberry;
   background: -webkit-linear-gradient(to left, $orange, $raspberry, $indigo); 
   background: linear-gradient(to top, $indigo, $raspberry, $orange);
   height: 100%;
   background-attachment: fixed;

   font-family: 'Open Sans', sans-serif;
   font-weight: 300;

   -webkit-box-pack: center;
         justify-content: center;

   }

a:link {
   color: $themeColor;
}

.theme-color {
   color: $themeColor;
}

// ################ progress bar ##################

.progressBar {
   animation: move 2s linear infinite;
}

@keyframes move {
   0% {
      @include transform(translate(-100%, 0));
   }
   100% {
      @include transform(translate(100%, 0));
   }
}

// ########## scrollbar styling ###############
::-webkit-scrollbar {
   width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.btn-round{
   height: 1.5rem;
   width: 1.5rem;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
}

.red{
   background:red;
}