@import "../../sass/styles";

body {
    margin: 1.5em auto;
    font-family: Helvetica;
    background: #FFF;
    }
    
    .btns{
        background: none;
        border: none;
    }
    
    .btns:hover{
        background: none;
        border: none;
    }
    
    .btns:active{
        background: none;
        border: none;
    }